*.fs linguist-language=F#
*.md linguist-language=Markdown
*.as linguist-language=Assembly 
*.js linguist-language=JavaScript
*.erl linguist-language=Erlang
*.c linguist-language=C
*.cpp linguist-language=C++
*.cs linguist-language=C#
*.java linguist-language=Java
*.php linguist-language=PHP
*.ps1 linguist-language=PowerShell
*.py linguist-language=Python
*.sh linguist-language=Shell
*.bat linguist-language=Batchfile
*.html linguist-language=HTML
*.ino linguist-language=C
*.xaml linguist-language=XML
*.xml linguist-language=XML
*.sql linguist-language=SQLPL
*.axml linguist-language=XML
*.awk linguist-language=Awk
*.hs linguist-language=Haskell
*.pas linguist-language=Pascal
*.pl linguist-language=Perl 6
*.nginx linguist-language=Nginx
*.json linguist-language=JSON
*.wl linguist-language=Mathematica
*.cu linguist-language=Cuda
*.gradle linguist-language=Gradle
*.shader linguist-language=ShaderLab
*.bas linguist-language=Visual Basic
*.jsp linguist-language=Java Server Pages
