.vscode
build
__pycache__
.vs
D/*.obj
AutoHotkey/*.txt
D/EasyMatMark
Dart/*.*js
Dart/*.js.*
Dart/*.wasm*
*.csv
*.txt
*.xlsx
F#/*.sln
F#/F#/*.fsproj
F#/F#/bin
F#/F#/obj
Fortran/EasyMatMarker
Go/*.o
Rust/release
Rust/target
Rust/Cargo*
.idea
Zig/*zig*
Zig/build*
*.exe
*.out
*.log
C++/build_gcc
Go/go.mod
Go/main
Java/Java.iml
Java/Main.class
